<html>
{% extends 'base.html' %}
{% load static %}
<title>
    SNP Search
</title>
    {% block content %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">
  <form name="cust_info" action ="/genes/" method="get" class="form-horizontal" role="form">
<div class="container">

                    <div class="row height d-flex justify-content-center align-items-center">

                      <div class="col-md-8">
                        <div class="search" position = "absolute>
                          <i class="fa fa-search" position = "absolute"></i>
                          <input id="input_snp" name="ReportedGenes" type="text" list = "genes" placeholder ="Gene to search..." class ="form-control">
                            <datalist id="genes">
                                {% for gene in genes %}
                                    <option value="{{ gene.name }}"> </option>
                                {% endfor %}
                            </datalist>
                            </div>
                        <div>
                                Examples: <a href = "/genes/?ReportedGenes=TSLP"> TSLP </a>,
                            <a href = "/genes/?ReportedGenes=BRCA2"> BRCA2 </a>...
                        </div>
                              <input type = "submit" value="Submit">

                      </div>

                    </div>
                </div>
  </form>
{% endblock %}

</html>