<html>
{% extends 'base.html' %}
<title>

Seesd
</title>
    {% block content %}
{% load static %}

<body>
<div class="row">
  <div class="col-sm-3">
    <div class="card h-100">
        <img class="card-img-top" src="{% static 'homeimages/genes.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Genes</h5>
    <p class="card-text">Search for genes in the database.</p>
    <a href="{% url 'genesearch' %}" class="btn btn-primary">Go to Genes page</a>

  </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-body">
          <img class="card-img-top" src="{% static 'homeimages/snp.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">SNPs</h5>
    <p class="card-text">Search for SNPS in the database.</p>
    <a href="{% url 'snpsearch' %}" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
    </div>
  </div>


<!-- row 2 -->

  <div class="col-sm-3">
    <div class="card h-100">
        <img class="card-img-top" src="{% static 'homeimages/diseases.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text</p>
    <a href="{% url 'diseaseslist' %}" class="btn btn-primary">Go somewhere</a>

  </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card h-100">
      <div class="card-body">
          <img class="card-img-top" src="{% static 'homeimages/search.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text.</p>
    <a href="{% url 'snpsearch' %}" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
    </div>
  </div>
</div>
<h1>
    SEEE
</h1>


</body>
{% endblock %}


</html>