<html>
{% extends 'base.html' %}
<title>

Seesd
</title>
    {% block content %}
{% load static %}

<body>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <img class="card-img-top" src="{% static 'homeimages/search.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'snpsearch' %}" class="btn btn-primary">Go somewhere</a>

  </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <img class="card-img-top" src="{% static 'homeimages/snp.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'snpsearch' %}" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
    </div>
  </div>
</div>

<!-- row 2 -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
        <img class="card-img-top" src="{% static 'homeimages/diseases.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'snpsearch' %}" class="btn btn-primary">Go somewhere</a>

  </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
          <img class="card-img-top" src="{% static 'homeimages/genes.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{% url 'snpsearch' %}" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
    </div>
  </div>
</div>
<div>
    <div class="card" style="width: 18rem;">

    </div>


                <div class="card" style="width: 18rem;">

            </div>
</div>
<h1>
    SEEE
</h1>
    <div>
 <a href="{% url 'snpsearch' %}" target="_blank">
  <img src="{% static 'homeimages/search.png' %}" width="200" height="100" class="rounded float-left" alt="Responsive image">
 </a>

 <a href="{% url 'snpsearch' %}" target="_blank">
  <img src="{% static 'homeimages/diseases.png' %}" class="rounded float-right" width="200" height="100">
 </a>
        </div>
        <div>

 <a href="{% url 'snpsearch' %}" target="_blank">
  <img src="{% static 'homeimages/snp.png' %}" width="200" height="100">
 </a>
        </div>


</body>
{% endblock %}


</html>