<html>
{% extends 'base_fixed_footer.html' %}
{% load static %}
<title>
    Submit your data!
</title>
    {% block content %}
<div class="col-md-12 px-10 py-4">
</div>
<p></p>
<div class="page-header" style="text-align:center">
    <h1>Contribute to our database
        <img src="{% static 'icon/database.png' %}" width="150" height="150">
    </h1>
</div>

<div class="container">
    <div class="col-md-12"></div>
    <div class="col-md-12 px-10 py-2">
        <p>
        </p>

        <p style="font-size:20">
    As a user, you can upload SNPs association data in .txt OR .tsv format. Your submitted data will be verified by our team of engineers which will then integrate your data to ours.
</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="formFileLg" class="form-label"></label>
      <p style = "text-align:center">
<input class="form-control form-control-lg" id="formFileLg" type="file" name = "myfile"/>
          </p>
    <button type="submit" class="btn btn-lg btn-primary">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p style="color:green; font-size:20">File uploaded successfully!

    </p>
        <p style="color:green; font-size:20">Thank you for contributing to our database!

    </p>
  {% endif %}
  {% if fail %}
    <p style="color:red; font-size:20">Upload failure. Please make sure your file format is compatible.</p>
  {% endif %}
{% endblock %}
    </div>
    <div class="col-md-4"></div>
</div>
</html>